*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
npm-debug.log*

.idea
.sourcemaps
.sass-cache
.tmp
.versions
coverage
dist
node_modules/
tmp
temp
hooks
platforms
plugins
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

.scannerwork
_readme.txt
proustibat-d3jsionic.keystore
psd
documentation
