<ion-header>
    <common-header  *ngIf="!isPushed">D3.js with Ionic</common-header>
    <ion-navbar     *ngIf="isPushed" color="primary">
        <ion-title text-uppercase>Scales</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>


    <h1 no-margin *ngIf="!isPushed">Scales</h1>

    <div padding-horizontal padding-bottom>
        <p padding-top>Resize the data to fit into the pre-defined SVG Coordinate Space</p>
        <p>In this section we need to import d3-scale and d3-array:</p>
        <textarea ion-prism="javascript">
            import * as d3Scale from 'd3-scale';
            import * as d3Array from 'd3-array';
        </textarea>
    </div>



    <h2 margin-bottom>Linear Scale Example</h2>
    <div padding-horizontal>
        <textarea ion-prism="javascript">
            this.initialDataToScale = [ 0, 1000, 3000, 2000, 5000, 4000, 7000, 6000, 9000, 8000, 10000 ];

            let linearScale = d3Scale
                .scaleLinear()
                .domain([
                    d3Array.min( this.initialDataToScale ),
                    d3Array.max( this.initialDataToScale )
                ])
                .range( [ 0, 100 ] );

            this.scaledData = this.initialDataToScale.map( data => linearScale( data ) );
        </textarea>
    </div>


    <div padding>

        <h3 no-padding>Initial Data</h3>
        <p *ngIf="initialDataToScale">{{initialDataToScale.join(' | ')}}</p>

        <h3 no-padding>Scaled Data</h3>
        <p *ngIf="scaledData">{{scaledData.join(' | ')}}</p>

    </div>


    <h2 margin-bottom>Other interpolators available</h2>
    <div padding-horizontal padding-bottom>
        <ul>
            <li>scaleBand</li>
            <li>scaleIdentity</li>
            <li>scaleLinear</li>
            <li>scaleLog</li>
            <li>scaleOrdinal</li>
            <li>scalePoint</li>
            <li>scalePow</li>
            <li>scaleQuantile</li>
            <li>scaleQuantize</li>
            <li>scaleSequential</li>
            <li>scaleSqrt</li>
            <li>scaleThreshold</li>
            <li>scaleTime</li>
            <li>scaleUtc</li>
        </ul>
    </div>


    <footer-links *ngIf="!isPushed" color="dark" no-margin tutorialUrl="https://www.dashingd3js.com/d3js-scales"></footer-links>

</ion-content>
