// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.prism {
  user-select: text;
}

svg {
  border: 1px solid color($colors, 'primary');
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: color($colors, primary);
  font-family: 'Hind Madurai', sans-serif;
}

h1 {
  background: color($colors, primary);
  color: color($colors, light);
  text-align: center;
  padding: $content-padding $heading-padding;
}
h2 {
  border-top: 2px solid color($colors, primary);
  border-bottom: 2px solid color($colors, primary);
  padding: $heading-padding $content-padding;
}

h3, h5, h6 {
  font-family: $font-family-base;
  font-weight: bold;
  padding: $heading-padding $content-padding;
}

